numpy==1.16.4
absl-py==0.7.0
altgraph==0.16.1
appdirs==1.4.4
astor==0.7.1
certifi==2018.11.29
cloudpickle==0.7.0
dask==1.1.1
decorator==4.3.2
future==0.17.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.18.0
h5py==2.9.0
icc-rt==2019.0
imageio==2.9.0
importlib-metadata==3.1.1
intel-openmp==2019.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.9
libtiff==0.4.2
lxml==4.3.1
macholib==1.11
mahotas==1.4.5
Markdown==3.0.1
meshio==4.3.6
netifaces==0.10.6
networkx==2.2
opencv-python==4.4.0.46
opt-einsum==3.3.0
packaging==20.4
pefile==2018.8.8
Pillow==6.2.0
protobuf==3.6.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pymeshfix==0.14.1
pyparsing==2.4.7
pypng==0.0.19
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
python-engineio==3.14.2
python-socketio==4.6.1
python-utils==2.3.0
pyvista==0.27.3
PyWavelets==1.0.1
pywin32-ctypes==0.2.0
scikit-image==0.14.2
scipy==1.2.0
scooby==0.5.6
sip==5.4.0
six==1.15.0
tbb==2019.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
toml==0.10.2
toolz==0.9.0
tornado==5.1.1
trimesh==3.8.15
vtk==9.0.1
Werkzeug==0.15.3
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.0

# Tentative
kimimaro==3.0.0
pymeshfix==0.15.0
ncollpyde==0.16.0
