body {
  margin:0px;
  overflow:hidden !important;
  font-family: sans-serif;
  font-size: 10px;
}

.viewer {
  width:100%;
  height:100%;
  background-color:#DDDDDD;
}

#undoredo {
  width: 60px;
  margin-left: -4px;
}

#undo {
  width: 20px;
  opacity: 0.3;
}

#redo {
  width: 20px;
  opacity: 0.3;
}

#blocker {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 500000;
  color: white;
  display: none;
}

#loading_blocker {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 500000;
  color: white;
  display: block;
}

.toolbar {
  width:32px;
  height:200px;
  position:absolute;
  top:10px;
  left:10px;
}

.infopanel {
  background-color:black;
  padding: 5 10 10 5;
  position: absolute;
  bottom: 10px;
  left:10px;
  color:white;
}

.logpanel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color:white;
  width: auto;
  max-height: 200px;
  overflow: hidden;
}

.draggable_panel {
  position: absolute;
  background-color:black;
  opacity: 1;
  border: solid 1px white;
  z-index: 1000;
  color: white;
}

.panel_unsure {
  background-color: #660000;
}

.panel_correct {
  background-color: #006600;
}

.default_arrow {
  background-color: black;
  cursor: pointer;
}

.pressed_arrow {
  background-color: #666;
}

#save {
  margin-top: 6px;
  width: 30px;
  margin-left: 3px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#threeD {
  /*right: 10px;*/
  /*top: 10px;*/
  width:300px;
  height:300px;
  display: none;
}

#todo {
  /*right: 10px;*/
  /*top: 320px;*/
  width: 300px;
  height: 150px;
  /*bottom: 220px;*/
  overflow: hidden;
  display: none;
}

#slicenumber {
  font-weight: bold;
  float: left;
}

#label {
  margin-left: 25px;
  font-weight: bold;
  white-space: nowrap;
}

.tool {
  cursor: pointer;
}

.instructions {
  color:white;
  width: 100px;
  margin-left: 10px;
}

.todo_toplevel {
  color:white;
  margin: 10px;
  border: 1px solid white;
}

.todo_header {
  border-bottom: 1px solid white;
}

.todo_check {
  float:right;
}

.todo_color {
  background-color: green;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  float: left;
}

.todo_label {
  margin-left: 6px;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-start: 0px;
  -webkit-padding-start: 10px;
  margin-before: 0px;
  margin-start: 0px;
  padding-start: 10px;
}

li {
  line-height: 30px;
}

li li {
  border: solid 1px white;
  padding: 10px;
  margin: 1px;
  line-height: 20px;
  margin-right: 20px;
}
